.btn {
    background-color: transparent;
    background-repeat: no-repeat;
    border:none;
    
    transition: 0.3s;

    cursor: pointer;
}

.btn img:hover {opacity: 0.6;}

.fullScreen {
    width: 100%;
    padding: 0;
    display: block;
    margin: 0 auto;
    height: auto;
}