body { -ms-overflow-style: none; }

.btn {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;

    transition: 0.3s;

    cursor: pointer;
}

.btn img:hover {
    opacity: 0.6;
}

.fullScreen {
    width: 100%;
    padding: 0;
    display: block;
    margin: 0 auto;
    height: auto;
}

.tbtn {
    background-color: transparent;
    background-repeat: no-repeat;
    transition: 0.3s;

    z-index: 20;
    position: absolute;
    height: 5%;
    width: 5%;
    border: none;
    cursor: pointer;
}

.tbtn :hover {
    background-color: greenyellow !important;
}

.towerIcon {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    transition: 0.3s;
    cursor: pointer;
}

.towerIcon img {
    height: 25%;
    width: 25%;
}

.towerIcon :hover {
    opacity: 0.6;
}

/* skill and cool_down*/
.skillBtn {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    width: 6%;
    height: 8%;
    padding: 0%;

    transition: 0.3s;
    cursor: pointer;
}

.skillBtn img {
    height: 100%;
    width: 100%;
}

.skillBtn :hover {
    opacity: 0.8
}

.skilCdNum {
    position: absolute;
    bottom: 0%;
    font-size: calc((.3em + 1vmin) + (.3em + 1vmax));
    color: red;
    z-index: 5;
    text-align: center;
    transform: translateY(-50%) translateX(-50%);
}


.menuBtn {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    padding: 0%;

    transition: 0.3s;
    cursor: pointer;
}

.menuBtn img {
    height: 50% !important;
    width: 50% !important;
}

.menuBtn :hover {
    opacity: 0.6;
}

/* common table setting */
.menuTable {
    position: fixed;
    width: 40%;
    height: 50%;

    /* put in the center*/
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    overflow: visible;

    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: transparent;

    text-align: center;
    font-family: fantasy;
    font-size: 30px;
    overflow: scroll;
}

/* common setting for table view */
::-webkit-scrollbar {
    width: 0px;
    background-color: transparent;
    /* make scrollbar transparent */
}


[id^=towerImg] {
    width: 12% !important;
    height: 17% !important;
}