body {
    /* set the background */
    background-image: url("../gameAsset/td-gui/PNG/menu/bg.png");
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 0;
    display: block;
    margin: 0 auto;
}

#mainMenu {
    position: relative;
    width: auto;
    height: 100%;
}

#playBtn {
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 100%);
}

#bgmBtn {
    position: absolute;
    left: 1%;
    transform: translateY(10%);
}

#backgroundMusic {
    display: none;
}

#gameScreen {
    position: relative;
    width: auto;
    height: 100%;
}

/* button position for building tower */
#tBtn0 {
    top: 51%;
    left: 26%;
}

#tBtn1 {
    top: 60%;
    left: 57%;
}

#tBtn2 {
    top: 32%;
    left: 48%;
}

#tBtn3 {
    bottom: 5%;
    left: 54%;
}

#tBtn4 {
    bottom: 72%;
    left: 15%;
}

#towerSImage {
    height: 18%;
    width: 12%;
}

#closeTowerSelection {
    height: 5% !important;
    width: 5% !important;
}