body {
    /* set the background */
    background-image: url("../gameAsset/td-gui/PNG/menu/bg.png");
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 0;
    display: block;
    margin: 0 auto;
}

#mainMenu {
    position: absolute;
    width: 100%;
    height: 100%;
}

#playBtn {
    position: absolute;
    width: 25%;
    height: 45%;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#bgmBtn {
    position: absolute;
    width: 10%;
    height: 16%;
    top: 2.5%;
    left: 1.5%;
}

#backgroundMusic {
    display: none;
}

/* setting div for main menu */
#mainSettingMenu {
    background-image: url('../gameAsset/td-gui/PNG/difficulty/table.png');
}

#mainHelp,
#towerIntro {
    color: burlywood;
    background-image: url("../gameAsset/td-gui/PNG/shop/table.png");
    width: 40% !important;
    height: 50% !important;
}

#towerIntro img {
    position: absolute;
    width: 20%;
    height: 28%;
    left: 20%;
}

[id^=skilgif] {
    width: 60% !important;
    height: 20% !important;
}

[id^=tttnnn] {
    width: 10% !important;
    height: 10% !important;
}

/* enemy image size in the help menu */
#helpEnemy {
    width: 30%;
    height: 30%;
}

/* button use to close help menu */
#closeHelpBtn {
    position: fixed;
    top: 29%;
    left: 62.5%;
    z-index: 2;
}

/* button use to close main setting */
#closeMainSetting {
    position: absolute;
    z-index: 2;
    top: 10%;
    left: 61%;
    transform: translateX(50%) translateY(50%);
}

[id^=gameScreen]{
    position: relative;
    width: auto;
    height: 100%;
    overflow: hidden !important;
}

/* diamond position */
[id^=diamondd] {
    position: absolute !important;
    top: 4%;
    left: 4%;
    height: 7% !important;
    width: 5% !important;
}

[id^=diamondNum] {
    position: absolute;
    top: 4%;
    left: 10%;
    font-size: calc((.3em + 1vmin) + (.3em + 1vmax));
    color: yellow;
}

/*heart position*/
[id^=heartt] {
    position: absolute !important;
    top: 3%;
    right: 34%;
    height: 6% !important;
    width: 4% !important;
}

[id^=heartNum] {
    position: absolute;
    top: 5.5%;
    right: 26%;
    font-size: calc((.3em + 1vmin) + (.3em + 1vmax));
    color: yellow;
    transform: translateX(-50%) translateY(-50%);
}

/*skill cool down number*/
[id^=skillCd0] {
    left: 4%;
}

[id^=skillCd1] {
    left: 11%;
}

[id^=skillCd2] {
    left: 18.5%;
}

[id^=skillCd3]{
    left: 26%;
}

/* skill button */
[id^=skill0] {
    position: absolute;
    bottom: 0%;
    left: 1%;
}

[id^=skill1] {
    position: absolute;
    bottom: 0%;
    left: 8%;
}

[id^=skill2] {
    position: absolute;
    bottom: 0%;
    left: 15.5%;
}
[id^=skill3] {
    position: absolute;
    bottom: 0%;
    left: 23%;
}


/* button position for building tower */
/*[id^=tBtn] {
    background-color: brown;
}
*/

#tBtn0 {
    top: 51%;
    left: 26%;
}

#tBtn1 {
    top: 60%;
    left: 57%;
}

#tBtn2 {
    top: 32%;
    left: 48%;
}

#tBtn3 {
    top: 90%;
    left: 54%;
}

#tBtn4 {
    top: 23%;
    left: 15%;
}

#towerSImage {
    height: 18%;
    width: 12%;
}

#closeTowerSelection {
    height: 5% !important;
    width: 5% !important;
}

/* button in the gameScene*/
[id^=backMenuBtn],
#mainSetting {
    position: absolute;
    width: 10%;
    height: 16%;
    top: 2.5%;
    right: 1.5%;

}

/* pause game button */
[id^=pauseGame] {
    position: absolute;
    right: 12%;
    top: 3%;
    transform: translateY(10%), translateX(10%);
}

/* speed up the game */
[id^=quickGame] {
    position: absolute;
    right: 12%;
    top: 12%;
    transform: translateY(10);
    opacity: 0.5;
}

#windowImage {
    position: relative;
    background-repeat: no-repeat;
    top: 20%;
    right: 50%;
    transform: translateX(50%);
}

/* setting button in the game scene */
#setting {
    background-image: url("../gameAsset/td-gui//PNG/settings/table.png");
    z-index: 99 !important;
    background-color: transparent;
    background-repeat: no-repeat;
    position: absolute;
    width: 20%;
    height: 40%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

/* left game button in the setting menu */
#setting button {
    width: 30%;
    height: 25%;
}

#settingMusic, #settingSound{
    position: absolute;
    font-size: calc((.3em + 0.5vmin) + (.3em + 0.8vmax));
    z-index: 20;
    color: gray;
    left: 12%;
    top: 11%;
}

#settingSound {
    top: 28% !important;
} 

#settingMusicBtn, #settingSoundBtn{
    position: absolute;
    width: 30% !important;
    height: 20% !important;
    top: 9%;
    left: 43%;
}

#settingSoundBtn {
    top: 28% !important;
}
#settingWindow{
    position: absolute;
    top: 37%;
    width:87%;
    height: 58%;
    transform: translateX(-50%) translateY(-50%);
}
#leftBtn {
    position: absolute;

    left: 13%;
    bottom: 9%;
    transform: translateY(10%);
}
/* restart game button in the setting menu */
#restartBtn {
    position: absolute;
    right: 13%;
    bottom: 9%;
    transform: translateY(10%);
}

/* cloase button for setting menu */
#closeSBtn {
    width: 25% !important;
    height: 20% !important;
    position: absolute;
    right: 0%;
    top: 0%;
    transform: translateY(10%);
}

/* winning menu */
#winLevelS img,
#winLevelNext img,
#failLevelS img,
#failLevelNext img,
#closePopUpWindow img {
    width: 100% !important;
    height: 100% !important;
}

#winScene,
#failScene {
    z-index: 20 !important;
    background-image: url('../gameAsset/td-gui/PNG/win/table.png');
    width: 30% !important;
    height: 70% !important;
    overflow: visible !important;
}

#winWindow,
#failWindow {
    position: absolute;
    width: 70%;
    height: 68%;

    top: 57%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#winStar,
#failStar {
    position: absolute;
    width: 63%;
    height: 30%;

    top: 41%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#winHeader,
#failHeader {
    position: absolute;
    width: 67%;
    height: 23%;
    overflow: visible;

    top: 11.5%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#winLevelS,
#failLevelS {
    position: absolute;
    width: 22%;
    height: 18%;

    bottom: -0.5%;
    left: 23.5%;
}

#winLevelNext,
#failLevelNext {
    position: absolute;
    width: 22%;
    height: 18%;

    bottom: -0.5%;
    right: 23.5%;
}

#popUpWindow {
    font-size: calc((.3em + 1vmin) + (.3em + 0.5vmax));
    color: burlywood;
    background-image: url('../gameAsset/td-gui/PNG/achievement/normal_window.png');
    z-index: 20 !important;
    width: 20% !important;
    height: 20% !important;
}

#closePopUpWindow {
    position: absolute;
    width: 40% !important;
    height: 35% !important;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
}


/* help menu button align */
#help {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 10%;
    width: 20%;
    height: 20%;
}

#towerType {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 30%;
    width: 20%;
    height: 20%;
}

#skillMenuBtn {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 50%;
    width: 20%;
    height: 20%;
}

#towerType img,
#help img {
    width: 100%;
    height: 100%;
}



/* bg3 decor align */
#bg31, #bg32 {
    z-index: 12;
    position: absolute;
    width: 6%;
    height: 15%;
    left:32.5%;
    top: 60.5%;
}
#bg32{
    left:48.5% !important;
    top: 81%!important;
}
